* {
  color: rgb(0, 0, 0);
  font-family: 'PT Sans', sans-serif;
}
body {
  background-color: white;
}
/* Navbar */
.nav-img {
    width: 50%;
}
.nvbr a {
  font-family: 'Oswald', sans-serif!important;
  font-size: 20px;
}
.nav-link {
  font-family: 'Oswald', sans-serif!important;
  font-size: 20px;
}

/* colors */
.black {
  background-color: black!important;
}
.white {
  background-color: white!important;
}
.almostWhite {
  background-color: rgb(234, 234, 234)!important;
}

/* Page 1 */
.first-page {
    color: white;
}
.fpr1 {
  padding: 150px 0px;
}
.fpr1Content {
  padding: 70px 0px;
  /* background-color: black; */
}
.fpr2 {
  margin-top: 70px;
}
.fpr3 {
  margin-top: 70px;
}
.fpr4 {
  margin-top: 100px;
}
.fpcard {
  margin: 20px 0px;
}
.fpimgMain {
  margin: 30px 0px;
}
/* .mainText {
  color: white!important;
} */
.heading {
  font-size: 20px;
  background-color: #dedede;
  color: #000000;
  padding: 7px;
  width: 200px;
} 
.fphimg {
  width: 100%;
  border-radius: 20px;
}
.containImg {
  position: relative;
  text-align: center;
  color: white;
}
.positioning1 {
  position:absolute;
  margin-top: -15px;
  margin-left: 20px;
  z-index: 2;
}
.ytLink {
  text-decoration: none;
  color: white;
}
.ytLink2 {
  margin: 80px 0px;
}
.ytLink3 {
  font-size: 50px;
  text-decoration: none;
  border: 2px solid #b4b4b4;
  color: #000;
  border-radius: 20px;
  padding: 15px 40px;
}
.ytLink3:hover {
  background-color: rgb(181, 181, 181);
  color: #313131;
}
.ytLinkText {
  margin-top: 30px;
}
.notUnderlined {
  text-decoration: none;
}
/* .fprow {
  background-color: #2EB0EA;
  background-color: black;
} */
.mainText {
  max-width: 300px;
}
.mainLink:hover h4 {
  color: #b4b4b4;
}
.underlined {
  text-decoration: underline;
  text-decoration-color: white;
}
.underlined:hover {
  text-decoration-color: #b4b4b4;
}

/* ministries */
.crd {
  background-color: #2EB0EA!important;
  border-radius: 20px;
}
.slideImg {
  height: 650px;
  opacity: 80%;
}
.slideLabel {
  font-size: 55px;
  position: relative; top: -250px;
}
.slideText {
  position: relative; top: -100px
}
.miniPara {
  background-color: #2EB0EA;
  padding: 20px;
  /* border-radius: 20px; */
}
.clock2 {
  margin-top: 10px;
}
.miniHeader {
  padding: 200px 0px;
  font-size: 25px;
  position: absolute;
  max-width: 1400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.verse {
  max-height: 1000px;
}
.miniHTxt {
  color: white;
  margin: 0px 50px;
  max-width: 700px;
}
.miniRow3{
  background-color: white;
}
.r3Text {
  color: black;
  font-size: 20px;
  padding: 20px;
}
.cara {
  max-width: 1400px;
}
.verse {
  position: relative;
  text-align: center;
}

/* Schedule */
.eItem {
  border: 2px rgb(99, 99, 99) solid;
  border-top: none;
  border-radius: 20px!important;
  margin: 10px;
}
.vertical-menu {
  margin-top: 50px;
}
.eventDes {
  text-align: left;
}
.eventAdd {
  text-align: left;
}
.helloPng {
  opacity: .4;
  width: 100%;
  max-width: 1400px;
}
.sr1 {
  background-color: #292929;
  position: relative;
  text-align: center;
  color: white;
  max-width: 1400px;
}
.helloTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.stxt {
  color: white;
  text-align: left;
}
.sheader {
  color: white;
  font-size: 30px;
}

/* Photo fading */
.fadein {
  position: relative;
  background-color: #000;
  margin: 5px 0px;
  border-radius: 20px;

}
.fadein img {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
.fadein:hover img {
  opacity: 0.5;
}
.fadein .text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: rgba(255,255,255,0.5);
  color: #000;
  padding: 10px;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease;
}
.fadein:hover .text {
  opacity: 1;
}

@media (min-width:768px) {
  /* .fpimgMain {
    margin: 0px 0px;
  } */
  .fpcard {
    margin: 70px 0px 30px 0px;
  }
  .mainLink {
    max-width: none;
  }
  .slideImg {
    height: 1000px;
  }
  .heading {
    padding: 20px;
    font-size: 30px;
    width: 350px;
  }
  .stxt {
    font-size: 25px;
  }
  .sheader {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
    .nav-img {
        width: 35%;
    }
    .slideImg {
      height: 1000px;
    }
    .navbar-collapse {
        display: flex;
        flex-direction: row-reverse;
    }
    .heading {
      font-size: 40px;
      width: 550px;
    }
    .miniHeader {
      font-size: 50px;
    }
}
@media (min-width: 1200px) {
    .slideImg {
      height: 1200px;
    }
}